@model tarea3.Models.Calcular

@{
    ViewBag.Title = "Multiplicar";
}

<h2>Multiplicar</h2>

@using(Html.BeginForm())
{
    @Html.Label("numero1   ");
    @Html.TextBoxFor(operador => operador.a);<br/><br/>
    @Html.Label("numero2   ");  
    @Html.TextBoxFor(operador => operador.b);<br/><br/>
    <p><input type="submit" value="MULTIPLICAR" /></p>
       
}
<p>Resultado ->  @ViewBag.r </p>